<script setup lang="ts">
import { useOrderStore } from "@/stores/order";
import { ref } from "vue";
import { useBillStore } from "@/stores/bill";
const num = ref(0);
const change = ref(0);
const orderStore = useOrderStore();
const billStore = useBillStore();

function Close() {
  change.value = 0;
  num.value = 0;
  orderStore.clearOrder();
  billStore.dialogBill = false;

  orderStore.totalprice = 0;
}
</script>
<template>
  <VDialog v-model="billStore.dialogBill" persistent width="50%">
    <VCard style="background-color: antiquewhite">
      <VCardTitle class="text-h5 text-center py-6">ใบเสร็จรับเงิน</VCardTitle>
      <v-table>
        <tbody>
          <tr>
            <th cols="8">รายการสินค้า</th>
            <th>จำนวน</th>
            <th>ราคา (บาท)</th>
          </tr>

          <tr v-for="(item, index) of orderStore.orderList" :key="index">
            <td cols="8">{{ item.product.name }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.sum }}</td>
          </tr>

          <tr>
            <th cols="8">ราคาทั้งหมด</th>
            <th></th>
            <td>{{ orderStore.sumPrice }}</td>
          </tr>

          <tr>
            <th cols="8">ส่วนลด</th>
            <th></th>
            <td>{{ orderStore.sumPrice - orderStore.totalprice }}</td>
          </tr>

          <tr>
            <th cols="8">ราคาสุทธิ</th>
            <th></th>
            <td>{{ orderStore.totalprice }}</td>
          </tr>

          <tr>
            <th cols="8">เงินที่ได้รับ</th>
            <th></th>
            <td>{{ orderStore.num }}</td>
          </tr>
          <tr>
            <th cols="8">เงินทอน</th>
            <th></th>
            <td>{{ orderStore.num - orderStore.totalprice }}</td>
          </tr>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </v-table>

      <VCardActions>
        <VSpacer></VSpacer>
        <!-- <VBtn color="green-darken-1" variant="text" @click="Close"> ปิด </VBtn>
        <VBtn color="blue-darken-1" variant="text" @click="Cal">คำนวณ</VBtn> -->
        <VBtn color="green-darken-1" variant="text" @click="Close">
          เสร็จสิ้น
        </VBtn>
      </VCardActions>
    </VCard>
  </VDialog>
</template>
