<script setup lang="ts">
import order from "@/services/order";
import { useCheckoutStore } from "@/stores/checkout";
import { useOrderStore } from "@/stores/order";
import { computed, ref } from "vue";
import { useCustomerStore } from "@/stores/customer";
import { watch } from "vue";
import { useLoadingStore } from "@/stores/loading";

const loadingStore = useLoadingStore();
const customerStore = useCustomerStore();
const snackbar = ref(false);
const enoughPoint = ref(false);
const usePoint = ref(false);
const num = ref(0);
const telephone = ref("");
const change = ref(0);
const checkoutStore = useCheckoutStore();
const orderStore = useOrderStore();
const discount = ref(0);
const cannotFinish = ref(true);
const dialog = ref(false);
const usePointDisabled = computed(() => {
  if (telephone.value === "") {
    return true;
  }
  if (telephone.value.length === 10) {
    return false;
  }
  return true;
});
async function Cal() {
  orderStore.telephone = telephone.value;
  let totalPrice = orderStore.sumPrice;

  if (usePoint.value) {
    //use point
    // Call GetPointByTel and assign the returned value to a variable
    const customerPoint = await orderStore.GetPointByTel(telephone.value);
    // console.log("Customer points:", customerPoint);
    if (customerPoint >= 10) {
      totalPrice = totalPrice - 10;
      discount.value = orderStore.sumPrice - totalPrice;
      orderStore.usepoint = usePoint.value;
      orderStore.discount = discount.value;
      orderStore.num = num.value;
      orderStore.totalprice = orderStore.sumPrice - orderStore.discount;

      change.value = num.value - totalPrice;
      cannotFinish.value = false;
      if (num.value < 0) {
        alert("Please input Positive number");
        change.value = 0;
        num.value = 0;
      }
      if (num.value < totalPrice) {
        snackbar.value = true;
        num.value = 0;
        change.value = 0;
      }
    } else {
      enoughPoint.value = true;
      orderStore.discount = 0;
    }
  } else {
    //no use point
    if (num.value < totalPrice || num.value < 0) {
      snackbar.value = true;
      num.value = 0;
      change.value = 0;
      orderStore.totalprice = 0;
    } else {
      change.value = num.value - totalPrice;
      orderStore.num = num.value;
      orderStore.telephone = telephone.value;
      orderStore.totalprice = totalPrice;
      cannotFinish.value = false;
    }
  }
  return totalPrice;
}

function Finish() {
  loadingStore.isLoading = true;
  orderStore.openOrder();
  checkoutStore.dialog = false;
  loadingStore.isLoading = false;
}

function Close() {
  change.value = 0;
  num.value = 0;
  orderStore.totalprice = 0;
  checkoutStore.dialog = false;
}
</script>
<template>
  <VDialog v-model="checkoutStore.dialog" persistent width="50%">
    <VCard style="background-color: antiquewhite">
      <VCardTitle class="text-h5 text-center">ชำระเงิน</VCardTitle>
      <VCardText class="text-center">ราคาที่ต้องจ่าย</VCardText>
      <VCardText class="text-center">{{ orderStore.sumPrice }}</VCardText>
      <VCardText class="text-center">ราคาหลังหักส่วนลด (ถ้ามี)</VCardText>
      <VCardText class="text-center">{{ orderStore.totalprice }}</VCardText>

      <VCardText class="text-center">
        เงินสดที่ได้รับมา
        <VTextField
          v-model.number="num"
          :rules="[
            (v) => !!v || 'กรุณากรอกข้อมูล',
            (v) =>
              (!isNaN(parseFloat(v)) && isFinite(v)) ||
              'กรุณากรอกข้อมูลที่เป็นตัวเลข',
            (v) => v >= 0 || 'กรุณากรอกค่าที่ไม่เป็นติดลบ',
          ]"
          required
        ></VTextField>
      </VCardText>

      <VCardText class="text-center">
        เบอร์ลูกค้า
        <VTextField
          v-model="telephone"
          :rules="[
            (v) => !!v || 'Number is not empty!!',
            (v) => /^\d{10}$/.test(v) || 'Please enter 10-digit numbers only',
          ]"
          required
        ></VTextField>
      </VCardText>
      <!-- <VCardText v-for="item in customerStore.customers" :key="item.id"
        >คะแนนปัจจุบัน: {{ item.point }}</VCardText
      > -->
      <VCardText class="text-center">
        <VCheckbox
          v-model="usePoint"
          label="Use points"
          :disabled="usePointDisabled"
        ></VCheckbox>
      </VCardText>

      <VCardText class="text-center">เงินทอน</VCardText>
      <VCardText class="text-center">{{ change }}</VCardText>
      <VCardActions>
        <VSpacer></VSpacer>
        <VBtn color="green-darken-1" variant="text" @click="Close"> ปิด </VBtn>
        <VBtn color="blue-darken-1" variant="text" @click="Cal">คำนวณ</VBtn>
        <VBtn
          :disabled="cannotFinish"
          color="green-darken-1"
          variant="text"
          @click="Finish"
        >
          เสร็จสิ้น
        </VBtn>
      </VCardActions>
    </VCard>
  </VDialog>
  <v-snackbar :timeout="1500" v-model="snackbar"
    >รบกวนกรอกเงินที่ได้รับใหม่</v-snackbar
  >
  <v-snackbar :timeout="1500" v-model="enoughPoint"
    >ไม่สามารถลดราคาได้เนื่องจากเเต้มไม่พอ</v-snackbar
  >
</template>
