<script setup lang="ts">
import order from "@/services/order";
import { useCheckoutQR } from "@/stores/checkoutQR";
import { useOrderStore } from "@/stores/order";
import { ref, computed } from "vue";

const enoughPoint = ref(false);
const usePoint = ref(false);
const checkoutQR = useCheckoutQR();
const orderstore = useOrderStore();
const telephone = ref("");
const discount = ref(0);
const cannotFinish = ref(true);
const usePointDisabled = computed(() => {
  if (telephone.value === "") {
    return true;
  }
  if (telephone.value.length === 10) {
    return false;
  }
  return true;
});
async function Cal() {
  let totalPrice = orderstore.sumPrice;
  if (usePoint.value) {
    //if has point
    const customerPoint = await orderstore.GetPointByTel(telephone.value);
    console.log("Customer points:", customerPoint);
    console.log(telephone.value);
    if (customerPoint >= 10) {
      //use point
      orderstore.totalprice = totalPrice * 0.9;
      discount.value = orderstore.sumPrice - totalPrice;
      orderstore.usepoint = usePoint.value;
      orderstore.discount = discount.value;

      orderstore.receivedQR = orderstore.sumPrice;
      cannotFinish.value = false;
    } //no use point
    else {
      enoughPoint.value = true;
      discount.value = 0;
      cannotFinish.value = true;
    }
  } else {
    //no use point
    orderstore.totalprice = orderstore.sumPrice;
    discount.value = 0;
    cannotFinish.value = false;
  }
  orderstore.num = orderstore.totalprice;
  console.log(orderstore.sumPrice);
  console.log(orderstore.totalprice);
  orderstore.discount = orderstore.sumPrice - orderstore.totalprice;
}

function Finish(telephone: String) {
  orderstore.openOrderQR(telephone);
  checkoutQR.dialogQR = false;
  console.log(telephone);
}
function Close() {
  telephone.value = "";
  checkoutQR.dialogQR = false;
}
</script>
<template>
  <VDialog v-model="checkoutQR.dialogQR" persistent width="auto">
    <VCard style="background-color: antiquewhite">
      <VCardTitle class="text-h5"> ชำระผ่าน QR</VCardTitle>
      <VCardText>
        <VImg
          width="250"
          cover
          src="https://i.pinimg.com/originals/60/c1/4a/60c14a43fb4745795b3b358868517e79.png"
        ></VImg>
        <VSpacer></VSpacer>
        <div class="text-center">
          <p>รวมที่ต้องชำระ</p>
          <p>{{ orderstore.sumPrice }}</p>
          <p>ราคาหลังหักส่วนลด</p>
          <p>{{ orderstore.totalprice }}</p>
        </div>
      </VCardText>
      <VCardText class="text-center">
        เบอร์ลูกค้า
        <VTextField
          v-model="telephone"
          :rules="[(v) => !!v || 'Number is not empty!!']"
          required
        ></VTextField>
      </VCardText>
      <VCardText class="text-center">
        <VCheckbox
          v-model="usePoint"
          label="Use points"
          :disabled="usePointDisabled"
        ></VCheckbox>
      </VCardText>

      <VCardActions>
        <VSpacer></VSpacer>
        <VBtn color="green-darken-1" variant="text" @click="Close"> ปิด </VBtn>
        <VBtn color="blue-darken-1" variant="text" @click="Cal()">คำนวณ</VBtn>
        <VBtn
          :disabled="cannotFinish"
          color="green-darken-1"
          variant="text"
          @click="Finish(telephone)"
        >
          เสร็จสิ้น
        </VBtn>
      </VCardActions>
    </VCard>
  </VDialog>
  <v-snackbar :timeout="1500" v-model="enoughPoint"
    >ไม่สามารถลดราคาได้เนื่องจากเเต้มไม่พอ</v-snackbar
  >
</template>
