<script lang="ts" setup>
import { useProductStore } from "@/stores/product";
import { computed, onMounted, ref } from "vue";
import type Product from "@/types/Product";
import { useOrderStore } from "@/stores/order";
import { mdiDelete } from "@mdi/js";
import { useCustomerStore } from "@/stores/customer";
import LoadingDialog from "@/components/LoadingDialog.vue";

const customerStore = useCustomerStore();
const customerId = ref("");
const customerName = ref("");

async function getCustomer() {
  const customer = await customerStore.getCustomerById(
    parseInt(customerId.value)
  );
}

const productStore = useProductStore();
const orderStore = useOrderStore();
const BackendURL = import.meta.env.VITE_BACKEND_URL;

onMounted(async () => {
  await productStore.getProducts();
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-container>
          <v-row>
            <v-col
              v-for="item of productStore.products"
              :key="item.id"
              cols="4"
            >
              <v-card width="auto">
                <v-card-item>
                  <v-card-title>{{ item.name }}</v-card-title>

                  <v-card-subtitle>{{ item.category?.name }}</v-card-subtitle>
                  <p></p>
                </v-card-item>
                <v-card-text
                  ><v-img
                    :src="`${BackendURL}/products/image/${item.image}`"
                    height="100px"
                    class="mb-2"
                  ></v-img>

                  {{ item.price }} บาท
                  <v-btn @click="orderStore.addProduct(item)">กดสิ</v-btn>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col>
        <v-table>
          <thead>
            <tr>
              <th>ชื่อ</th>

              <th>ราคา</th>

              <th>จำนวน</th>

              <th>ราคารวม</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of orderStore.orderList" :key="index">
              <td>{{ item.product.name }}</td>

              <td>{{ item.product.price }}</td>

              <td>{{ item.amount }}</td>

              <td>{{ item.sum }}</td>

              <td>
                <v-btn
                  color="error"
                  :icon="mdiDelete"
                  @click="orderStore.deleteProduct(index)"
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
        <br />
        <div style="font-size: 20px">
          ราคารวม : {{ orderStore.sumPrice }} / จำนวนรวม :
          {{ orderStore.sumAmount }}
        </div>
        <br />
        <div>
          <v-btn
            width="100"
            height="50"
            style="font-size: 20px"
            @click="orderStore.openOrder()"
            >สั่งซื้อ</v-btn
          >
        </div>
      </v-col>
    </v-row>
  </v-container>

  <div>
    <input type="text" v-model="customerId" />
    <button @click="getCustomer">OK</button>
    <!-- เพิ่มตรงนี้ -->
  </div>
  <LoadingDialog></LoadingDialog>
</template>
