<script lang="ts">
import { ref } from "vue";
import { onMounted } from "vue";
import { useProductStore } from "@/stores/product";
import CustomerDialog from "@/views/customer/CustomerDialog.vue";
import { useCustomerStore } from "@/stores/customer";
import { useOrderStore } from "@/stores/order";
import { useCheckoutStore } from "@/stores/checkout";
import CheckOutDialog from "./CheckOutDialog.vue";
import CheckOutQRDialog from "./CheckOutQRDialog.vue";
import { useCheckoutQR } from "@/stores/checkoutQR";
import BillDialog from "./BillDialog.vue";
import { useBillStore } from "@/stores/bill";
import { useCategoryStore } from "@/stores/category";

export default {
  components: {
    CustomerDialog,
    CheckOutDialog,
    CheckOutQRDialog,
    BillDialog,
  },
  data: () => ({
    tab: null,
  }),
  methods: {
    async addPoints() {
      const customerStore = useCustomerStore();
      const tel = "0990064691"; // Replace with the desired telephone number
      const pointsToAdd = 10; // Replace with the desired number of points to add
      await customerStore.addPointsByTel(tel, pointsToAdd);
    },
  },

  setup() {
    const checkoutQR = useCheckoutQR();
    const productStore = useProductStore();
    const cartItems = ref([]);
    const customerStore = useCustomerStore();
    const orderStore = useOrderStore();
    const CheckoutStore = useCheckoutStore();
    const billStore = useBillStore();
    const categoryStore = useCategoryStore();

    const removeFromCart = (index: number) => {
      cartItems.value.splice(index, 1);
    };

    onMounted(async () => {
      await categoryStore.getCategories();
      await productStore.getProductsByCategory(productStore.category);
    });

    const clearCart = () => {
      cartItems.value = [];
    };

    return {
      productStore,
      cartItems,
      removeFromCart,
      clearCart,
      customerStore,
      orderStore,
      checkoutQR,
      CheckoutStore,
      billStore,
      categoryStore,
    };
  },
};
</script>

<template>
  <table>
    <v-row>
      <v-col cols="6"
        ><div style="max-height: 600px; overflow-y: auto; border-radius: 5px">
          <v-card>
            <v-tabs v-model="productStore.category" bg-color="#faedcb">
              <v-tab
                v-for="item of categoryStore.categories"
                :value="item.id"
                :key="item.id"
                >{{ item.name }}</v-tab
              >
            </v-tabs>

            <v-card-text style="background-color: #faedcb; color: red">
              <v-window v-model="tab">
                <v-window-item value="one">
                  <v-container>
                    <v-row>
                      <v-col
                        v-for="item of productStore.products"
                        :key="item.id"
                        cols="9"
                        md="4"
                      >
                        <v-card width="150px">
                          <v-img
                            :src="`http://localhost:3000/products/image/${item.image}`"
                            height="100"
                            cover
                          ></v-img>
                          <v-card-title class="headline">{{
                            item.name
                          }}</v-card-title>
                          <v-card-subtitle>{{ item.price }}</v-card-subtitle>
                          <v-card-actions>
                            <v-btn @click="orderStore.addProduct(item)"
                              >เพิ่มลงตะกร้า</v-btn
                            >
                          </v-card-actions>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-window-item>
              </v-window>
            </v-card-text>
          </v-card>
        </div></v-col
      >
      <v-col cols="6"
        ><div>
          <div class="cart-container">
            <v-lazy min-height="300">
              <v-card height="400">
                <v-table
                  style="
                    width: 550px;
                    max-width: 550px;
                    text-align: center;
                    max-height: 400px;
                    overflow-y: auto;
                  "
                >
                  <thead style="text-align: center">
                    <tr>
                      <th>ชื่อ</th>

                      <th>ราคา</th>

                      <th>จำนวน</th>

                      <th>ราคารวม</th>
                      <th>ลบสินค้า</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="(item, index) of orderStore.orderList"
                      :key="index"
                    >
                      <td>{{ item.product.name }}</td>

                      <td>{{ item.product.price }}</td>

                      <td>{{ item.amount }}</td>

                      <td>{{ item.sum }}</td>

                      <td>
                        <v-btn @click="orderStore.deleteProduct(index)"
                          >X</v-btn
                        >
                      </td>
                    </tr>
                  </tbody>
                </v-table>
              </v-card>
            </v-lazy>
          </div>
        </div></v-col
      >
    </v-row>
  </table>
  <v-row>
    <v-col>
      <div></div>
    </v-col>
    <v-col cols="12" sm="6">
      <div class="mt-5 text-center">
        <v-btn
          color="green"
          size="x-large"
          width="145"
          @click="CheckoutStore.dialog = true"
          >ชำระเงิน</v-btn
        >
        <v-btn
          color="blue"
          size="x-large"
          width="145"
          :style="{ marginLeft: '10px' }"
          @click="checkoutQR.dialogQR = true"
          >ชำระเงินQR</v-btn
        >
        <!-- orderStore.openOrder() -->

        <br />
        <div class="mt-2"></div>
        <v-btn
          color="green"
          size="x-large"
          width="300"
          @click="billStore.dialogBill = true"
          >พิมพ์ใบเสร็จ</v-btn
        >
        <br />

        <v-btn
          color="red"
          size="x-large"
          width="300"
          @click="orderStore.clearOrder"
          :style="{ marginTop: '5px' }"
        >
          ยกเลิกรายการ
        </v-btn>

        <br />

        <!-- <v-btn color="warning" width="145">สมัครสมาชิก</v-btn> -->

        <v-btn
          color="light-green-darken-1"
          size="x-large"
          width="300"
          :style="{ marginTop: '5px' }"
          @click="customerStore.dialog = true"
        >
          สมัครสมาชิก
        </v-btn>
      </div>
    </v-col>
  </v-row>

  <CustomerDialog></CustomerDialog>
  <CheckOutDialog></CheckOutDialog>
  <CheckOutQRDialog></CheckOutQRDialog>
  <BillDialog></BillDialog>
</template>

<style scoped>
.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  border-radius: 5px;
  overflow-y: auto;
}

table {
  width: 100%;
  /* border-collapse: collapse; */
}

th,
td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #faedcb;
}

tr:nth-child(even) {
  background-color: #e8dcbc;
}
tr:nth-child(odd) {
  background-color: #f3e7c7;
}

.product-container {
  border-radius: 5px;
  height: 500px; /* set the container height */
  overflow: auto; /* enable scrolling */
}

.product {
  height: 50px; /* set the height of each product */
  border: 1px solid black; /* add a border for visual clarity */
}
</style>
<!--https://coolors.co/e2e2df-d2d2cf-e2cfc4-f7d9c4-faedcb-c9e4de-c6def1-dbcdf0-f2c6de-f9c6c9 -->
