<script lang="ts" setup>
import { useCustomerStore } from "@/stores/customer";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const customerStore = useCustomerStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await customerStore.saveCustomer();
  }
}
</script>

<template>
  <v-dialog v-model="customerStore.dialog" persistent width="1024"
    ><v-card>
      <v-card-title>
        <span class="text-h5">ข้อมูลสมาชิก</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="ชื่อ"
                  required
                  v-model="customerStore.editedCustomer.name"
                  :rules="[
                    (v) => !!v || 'กรุณากรอกข้อมูล',
                    (v) =>
                      /^[a-zA-Zก-๙]+$/.test(v) || 'กรุณากรอกตัวอักษรเท่านั้น',
                    (v) => v.length >= 3 || 'กรุณากรอกตัวอักษรอย่างน้อย 3 ตัว',
                  ]"
                  v-pattern="'^[^0-9]+$'"
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field
                  label="เบอร์โทรศัพท์"
                  required
                  v-model="customerStore.editedCustomer.tel"
                  :rules="[
                    (v) => !!v || 'กรุณากรอกข้อมูล',
                    (v) => v.length == 10 || 'เลขเบอร์โทรศัพท์ควรยาว 10 ตัวเลข',
                    (v) => /^\d+$/.test(v) || 'กรุณากรอกเป็นตัวเลขเท่านั้น',
                  ]"
                  v-pattern="'^[^-0-9]+$'"
                ></v-text-field>
                <v-text-field
                  label="Point*"
                  required
                  v-model.number="customerStore.editedCustomer.point"
                  :rules="[(v) => !!v || 'item is required']"
                ></v-text-field>
              </v-col>
            </v-row> </v-container
        ></v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="customerStore.dialog = false"
        >
          ปิด
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save">
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card></v-dialog
  >
</template>
