<script setup lang="ts">
import { mdiDelete, mdiPencil, mdiPlus } from "@mdi/js";
import { useCustomerStore } from "@/stores/customer";
import { onMounted, ref } from "vue";

const customerStore = useCustomerStore();
const customers = ref([]);
// const confirmDlg = ref();

onMounted(async () => {
  await customerStore.getCustomersProcedure();
  const response = await fetch("/api/customers");
  const data = await response.json();
  customers.value = data;
  // await customerStore.getCustomersProcedure();
  // const response2 = await fetch("/api/reports/customer");
  // const data2 = await response2.json();
  // customers.value = data2;

  console.log("Customer data:", customers.value);
});

// const daleteCustomer = async (id: number) => {
//   try {
//     await confirmDlg.value.openDialog(
//       "Please Confirm",
//       `คุณต้องการลบ ${id} หรือไม่`
//     );
//     await customerStore.daleteCustomer(id);
//   } catch (e) {
//     /* empty */
//   }
// };
</script>
<template>
  <v-container>
    <v-row
      ><v-col cols="3" offset="9">
        <v-btn
          color="green"
          :prepend-icon="mdiPlus"
          @click="customerStore.dialog = true"
        >
          เพิ่มข้อมูลสมาชิก
        </v-btn>
      </v-col>
      <!-- <v-btn
        color="green"
        :prepend-icon="mdiPlus"
        @click="customerStore.delCustomersProcedure()"
      >
        ลบสมาชิกทั้งหมด
      </v-btn> -->
    </v-row>
    <v-row
      ><v-col cols="12">
        <v-table style="border-radius: 10px">
          <thead>
            <tr>
              <th>ID</th>
              <th>ชื่อ</th>
              <th>หมายเลขโทรศัพท์</th>
              <th>แต้ม</th>
              <th>การดำเนินการ</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in customerStore.customers" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.tel }}</td>
              <td>{{ item.point }}</td>
              <td>
                <v-btn
                  rounded
                  color="secondary"
                  class="ma-1"
                  @click="customerStore.editCustomer(item)"
                  large
                >
                  แก้ไข
                </v-btn>
                <!-- <v-btn
                  :icon="mdiPencil"
                  color="secondary"
                  class="ma-1"
                  @click="customerStore.editCustomer(item)"
                ></v-btn -->

                <v-btn
                  rounded
                  color="error"
                  class="ma-1"
                  @click="customerStore.daleteCustomer(item.id!)"
                  large
                >
                  ลบ
                </v-btn>

                <!-- ><v-btn
                  :icon="mdiDelete"
                  color="error"
                  class="ma-1"
                  @click="customerStore.daleteCustomer(item.id!)"
                ></v-btn> -->
              </td>
            </tr>
          </tbody>
        </v-table></v-col
      ></v-row
    >
  </v-container>
</template>

<style scoped>
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
}

th {
  background-color: #faedcb;
}

tr:nth-child(even) {
  background-color: #e8dcbc;
}
tr:nth-child(odd) {
  background-color: #f3e7c7;
}
</style>
