<script lang="ts" setup>
import CustomerDialog from "./CustomerDialog.vue";
import CustomerList from "./CustomerList.vue";
import LoadingDialog from "@/components/LoadingDialog.vue";
</script>
<template>
  <h1>การจัดการข้อมูลสมาชิก</h1>
  <CustomerDialog></CustomerDialog>
  <CustomerList></CustomerList>
  <LoadingDialog></LoadingDialog>
</template>
