<script setup lang="ts">
import UserDialog from "./UserDialog.vue";
import UserList from "./UserList.vue";
import UserCardList from "./UserCardList.vue";
import { useUserStore } from "@/stores/user";
import { onMounted } from "vue";
import LoadingDialog from "@/components/LoadingDialog.vue";
const userStore = useUserStore();

onMounted(async () => {
  await userStore.getUsers();
});
</script>
<template>
  <h1>การจัดการข้อมูลผู้ใช้งาน</h1>
  <v-container>
    <v-row>
      <UserList v-if="userStore.isTable"></UserList>
      <UserCardList v-if="!userStore.isTable"></UserCardList>
      <UserDialog></UserDialog>
    </v-row>
  </v-container>
  <LoadingDialog></LoadingDialog>
</template>

<style scoped></style>
