<script setup lang="ts">
import { useEmployeeStore } from "@/stores/employee";
import { useUserStore } from "../../stores/user";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const userStore = useUserStore();
const employeeStore = useEmployeeStore();
const form = ref<VForm | null>(null);

const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    userStore.saveUser();
  }
};
const clear = () => {
  userStore.dialog = false;
  userStore.clear();
};
</script>

<template>
  <VRow justify="center">
    <VDialog v-model="userStore.dialog" persistent>
      <VCard>
        <VCardTitle>
          <span class="text-h5">ข้อมูลผู้ใช้งาน</span>
        </VCardTitle>
        <VCardText>
          <VForm ref="form">
            <VContainer>
              <VRow>
                <VCol cols="12">
                  <VTextField
                    label="อีเมล"
                    v-model="userStore.editedUser.login"
                    :rules="[
                      (v) => !!v || 'กรุณากรอกข้อมูล',
                      (v) =>
                        v.length >= 4 ||
                        'อีเมลจะต้องมีขนาดมากกว่าหรือเท่ากับ 4 ตัวอักษร',
                    ]"
                    required
                  ></VTextField>
                </VCol>
                <VCol cols="12" sm="6" md="4">
                  <VTextField
                    label="ชื่อ"
                    v-model="userStore.editedUser.name"
                    :rules="[
                      (v) => !!v || 'กรุณากรอกข้อมูล',
                      (v) =>
                        /^[a-zA-Z]{3,}$/.test(v) ||
                        'กรุณากรอกชื่อที่มีตัวอักษรอย่างน้อย 3 ตัว',
                    ]"
                  ></VTextField>
                </VCol>
                <VCol cols="12" sm="6" md="4">
                  <VTextField
                    label="ตำแหน่ง"
                    v-model="userStore.editedUser.role"
                    :rules="[
                      (v) => !!v || 'กรุณากรอกข้อมูล',
                      (v) =>
                        /^[a-zA-Z]{3,}$/.test(v) ||
                        'กรุณากรอกชื่อที่มีตัวอักษรอย่างน้อย 3 ตัว',
                    ]"
                  >
                  </VTextField>
                </VCol>
                <VCol col="12">
                  <VTextField
                    label="รหัส"
                    type="password"
                    v-model="userStore.editedUser.password"
                    :rules="[
                      (v) => !!v || 'กรุณากรอกข้อมูล',
                      (v) =>
                        v.length >= 8 ||
                        'รหัสจะต้องมีความยาวมากกว่าหรือเท่ากับ 8 ตัวอักษร',
                      (v) =>
                        /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/.test(
                          v
                        ) ||
                        'รหัสจะต้องมีตัวอักษรเล็ก ใหญ่ และประกอบด้วยอักษรพิเศษ',
                    ]"
                    required
                  ></VTextField>
                </VCol>
                <VCol cols="12">
                  <VTextField
                    label="ID พนักงาน"
                    v-model="userStore.editedUser.employee"
                    :rules="[
                      (v) => !!v || 'กรุณากรอกข้อมูล',
                      (v) => /^\d+$/.test(v) || 'กรุณากรอกเฉพาะตัวเลข',
                    ]"
                  >
                  </VTextField>
                </VCol>
              </VRow>
            </VContainer>
          </VForm>
        </VCardText>
        <VCardActions>
          <VSpacer></VSpacer>
          <VBtn color="blue-darken-1" variant="text" @click="clear"> ปิด </VBtn>
          <VBtn color="blue-darken-1" variant="text" @click="save">
            บันทึก
          </VBtn>
        </VCardActions>
      </VCard>
    </VDialog>
  </VRow>
</template>
<style scoped></style>
