<script setup lang="ts">
import { useUserStore } from "../../stores/user";
import { mdiDelete, mdiPencil, mdiPlus } from "@mdi/js";
const userStore = useUserStore();
</script>
<template>
  <v-container>
    <v-row
      ><v-col cols="3" offset="9">
        <v-btn
          color="primary"
          :prepend-icon="mdiPlus"
          @click="userStore.dialog = true"
        >
          เพิ่มข้อมูลผู้ใช้งาน
        </v-btn>
      </v-col>
    </v-row>
    <v-row
      ><v-col cols="12">
        <v-table style="border-radius: 10px">
          <thead>
            <tr>
              <th>ID</th>
              <th>ชื่อ</th>
              <th>ตำแหน่ง</th>
              <th>ID พนักงาน</th>
              <th>การดำเนินการ</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of userStore.users" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.role }}</td>
              <td>{{ item.employee?.id }}</td>
              <td>
                <v-btn
                  rounded
                  color="secondary"
                  class="ma-1"
                  @click="userStore.editUser(item)"
                  large
                >
                  แก้ไข
                </v-btn>

                <!-- <v-btn
                  :icon="mdiPencil"
                  color="secondary"
                  class="ma-1"
                  @click="userStore.editUser(item)"
                ></v-btn -->

                <v-btn
                  rounded
                  color="error"
                  class="ma-1"
                  @click="userStore.deleteUser(item.id!)"
                  large
                >
                  ลบ
                </v-btn>

                <!-- ><v-btn
                  :icon="mdiDelete"
                  color="error"
                  class="ma-1"
                  @click="userStore.deleteUser(item.id!)"
                ></v-btn> -->
              </td>
            </tr>
          </tbody>
        </v-table></v-col
      ></v-row
    >
  </v-container>
</template>

<style scoped>
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
}

th {
  background-color: #faedcb;
}

tr:nth-child(even) {
  background-color: #e8dcbc;
}
tr:nth-child(odd) {
  background-color: #f3e7c7;
}
</style>
