<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useAuthStore } from "@/stores/auth";
import { mdiEye, mdiEyeOff, mdiLock, mdiAccount } from "@mdi/js";

const authStore = useAuthStore();
const show1 = ref(false);
const loginName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);

const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    authStore.login(loginName.value, password.value);
  }
};
const reset = () => {
  form.value?.reset();
};
</script>

<style>
.orange-icon .v-icon {
  color: #e67e22;
}
</style>

<template>
  <v-app>
    <v-row>
      <v-col>
        <v-img
          src="https://images.unsplash.com/photo-1534778101976-62847782c213?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&w=1000&q=80"
          width="90%"
          height="760"
          cover
        ></v-img>
      </v-col>

      <v-col>
        <br />
        <v-img
          src="https://img.freepik.com/premium-vector/initial-d-coffee-cup-logo_535105-434.jpg"
          height="289"
          cover
        >
        </v-img>

        <v-card-text>
          <v-form ref="form" v-model="valid">
            <v-text-field
              variant="underlined"
              :prepend-inner-icon="mdiAccount"
              class="pa-10 orange-icon"
              label="Email"
              v-model="loginName"
              :rules="[
                (v: any) => !!v || 'กรุณากรอก Email',
                (v: any) =>
                  v.length >= 4||
                  'อีเมลไม่ถูกต้อง',
              ]"
              required
              hide-details="auto"
              type="email"
            ></v-text-field>
            <v-text-field
              variant="underlined"
              v-model="password"
              :icon="show1 ? mdiEye : mdiEyeOff"
              :type="show1 ? 'text' : 'password'"
              name="input-10-1"
              label="Password"
              :rules="[
    (v: any) => !!v || 'กรุณากรอกรหัสผ่าน',
    (v: any) =>
      v.length >= 8 ||
      'กรุณากรอกรหัสอย่างน้อย 8 ตัว',
  ]"
              required
              hide-details="auto"
              :prepend-inner-icon="mdiLock"
              @click:append="show1 = !show1"
              class="pa-10 orange-icon"
            >
              <template #append>
                <v-icon @click="show1 = !show1">
                  {{ show1 ? mdiEyeOff : mdiEye }}
                </v-icon>
              </template>
            </v-text-field>
          </v-form>
        </v-card-text>

        <v-card-actions>
          <v-row>
            <v-col />
            <v-col
              ><v-btn
                height="50"
                width="150"
                variant="flat"
                color="#FAD7A0"
                class="justify-center"
                @click="login"
                style="color: #2e86c1"
              >
                เข้าสู่ระบบ
              </v-btn></v-col
            >
            <v-col /> </v-row
          ><br />
          <v-row>
            <v-col
              ><v-btn
                height="50"
                width="150"
                variant="flat"
                color="#FAD7A0"
                class="justify-center"
                style="color: #e74c3c"
                @click="reset"
                >ยกเลิก</v-btn
              ></v-col
            >
          </v-row>
        </v-card-actions>
      </v-col>
    </v-row>
  </v-app>
</template>
