<script setup lang="ts">
import { ref } from "vue";
import {
  mdiCoffee,
  mdiExitToApp,
  mdiAccountSupervisorCircle,
  mdiAccountTieHat,
  mdiSeed,
  mdiAccountGroup,
  mdiHome,
  mdiAlarmCheck,
  mdiHistory,
  mdiCoffeeMaker,
} from "@mdi/js";
import { useAuthStore } from "@/stores/auth";
const authStore = useAuthStore();
const theme = ref("light");
const user: { name: string; role: string } = authStore.getUser();
const role = ref(user.role);
// const role: { role: string } = authStore.getUser();
// const user2: { login: string } = authStore.getUser();

const logout = () => {
  authStore.logout();
};
</script>

<template>
  <v-app :theme="theme">
    <v-navigation-drawer
      expand-on-hover
      permanent
      style="background-color: #faedcb"
    >
      <v-list>
        <v-list-item>
          <img
            style="max-width: 150px; display: block; margin: auto"
            src="https://img.freepik.com/premium-vector/initial-d-coffee-cup-logo_535105-434.jpg"
          />
        </v-list-item>
      </v-list>
      <v-divider></v-divider>

      <v-list>
        <v-list-item
          prepend-avatar="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/coffee_zorro_avatar_cup-512.png"
          :title="user.name"
          :subtitle="user.role"
        ></v-list-item>
      </v-list>
      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiHome"
          title="หน้าหลัก"
          value="home"
          to="/home"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiCoffee"
          title="การขายสินค้า"
          value="pos"
          to="/pos"
        ></v-list-item>
        <!-- <v-list-item
          :prepend-icon="mdiHome"
          title="productspagination"
          value="products_page"
          to="/products_page"
        ></v-list-item> -->

        <v-list-item
          v-if="user.role !== 'พนักงาน'"
          :prepend-icon="mdiAccountSupervisorCircle"
          title="การจัดการผู้ใช้"
          value="user"
          to="/user"
        ></v-list-item>
        <v-list-item
          v-if="user.role !== 'พนักงาน'"
          :prepend-icon="mdiAccountTieHat"
          title="การจัดการพนักงาน"
          value="employee"
          to="/employee"
        ></v-list-item>
        <v-list-item
          v-if="user.role !== 'พนักงาน'"
          :prepend-icon="mdiAccountGroup"
          title="การจัดการลูกค้า"
          value="customer"
          to="/customer"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiCoffeeMaker"
          v-if="role !== 'พนักงาน'"
          title="จัดการสินค้า"
          value="product"
          to="/product"
        ></v-list-item>
        <v-list-item
          v-if="user.role !== 'พนักงาน'"
          :prepend-icon="mdiSeed"
          title="จัดการวัตถุดิบ"
          value="material"
          to="/material"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiHistory"
          title="ประวัติการขาย"
          value="historysell"
          to="/historysell"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiAlarmCheck"
          title="ลงเวลาเข้า-ออกพนักงาน"
          value="checkin_out"
          to="/checkin_out"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiExitToApp"
          title="ออกจากระบบ"
          @click="logout"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main style="background-color: #f4f4f0">
      <v-container><router-view></router-view></v-container>
    </v-main>
  </v-app>
</template>
