<script lang="ts" setup>
import { useProductPageStore } from "@/stores/product-page";
import { onMounted } from "vue";

const productPageStore = useProductPageStore();
onMounted(() => {
  productPageStore.getProducts();
});
</script>
<template>
  <v-text-field v-model="productPageStore.keyword"></v-text-field>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of productPageStore.products" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
      </tr>
    </tbody>
    <v-pagination
      :length="productPageStore.lastPage"
      v-model="productPageStore.page"
    ></v-pagination>
  </v-table>
</template>
