<script setup lang="ts">
import { mdiDelete, mdiPencil, mdiPlus, mdiCreditCardOutline } from "@mdi/js";
import { useEmployeeStore } from "@/stores/employee";
import { onMounted, ref } from "vue";

const employeeStore = useEmployeeStore();
const employees = ref([]);
const dialogVisible = ref(false);

onMounted(async () => {
  await employeeStore.getEmployees();
  const response = await fetch("/api/employees");
  const data = await response.json();
  employees.value = data;
  console.log("Employee data:", employees.value);
});
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6"></v-col>
      <v-col cols="3">
        <v-btn
          color="purple"
          :prepend-icon="mdiCreditCardOutline"
          @click="dialogVisible = true"
        >
          ค้นหาเงินเดือนพนักงาน
        </v-btn>
      </v-col>
      <v-col cols="3">
        <v-btn
          color="green"
          :prepend-icon="mdiPlus"
          @click="employeeStore.dialog = true"
        >
          เพิ่มข้อมูลพนักงาน
        </v-btn>
      </v-col>
    </v-row>
    <v-row
      ><v-col cols="12">
        <v-table style="border-radius: 10px">
          <thead>
            <tr>
              <th>ID</th>
              <th>ชื่อ</th>
              <th>ที่อยู่</th>
              <th>หมายเลขโทรศัพท์</th>
              <th>อีเมล</th>
              <th>ตำแหน่ง</th>
              <th>ค่าจ้างรายชั่วโมง</th>
              <th>การดำเนินการ</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in employeeStore.employees" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.address }}</td>
              <td>{{ item.tel }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.position }}</td>
              <td>{{ item.hourly_wage }}</td>
              <td>
                <v-btn
                  rounded
                  color="secondary"
                  class="ma-1"
                  @click="employeeStore.editEmployee(item)"
                  large
                >
                  แก้ไข
                </v-btn>
                <!-- <v-btn
                  :icon="mdiPencil"
                  color="secondary"
                  class="ma-1"
                  @click="employeeStore.editEmployee(item)"
                ></v-btn -->

                <v-btn
                  rounded
                  color="error"
                  class="ma-1"
                  @click="employeeStore.daleteEmployee(item.id!)"
                  large
                >
                  ลบ
                </v-btn>
                <!-- ><v-btn
                  :icon="mdiDelete"
                  color="error"
                  class="ma-1"
                  @click="employeeStore.daleteEmployee(item.id!)"
                ></v-btn> -->
              </td>
            </tr>
          </tbody>
        </v-table></v-col
      ></v-row
    >
  </v-container>

  <v-dialog v-model="dialogVisible" width="1024" persistent>
    <v-card>
      <v-card-title
        ><span class="text-h5">ค้นหาเงินเดือนพนักงาน</span></v-card-title
      >

      <v-card-text>
        <div>รบกวนกรอกรหัสพนักงาน</div>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="dialogVisible = false"
        >
          ปิด
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped>
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
}

th {
  background-color: #faedcb;
}

tr:nth-child(even) {
  background-color: #e8dcbc;
}
tr:nth-child(odd) {
  background-color: #f3e7c7;
}
</style>
