<script lang="ts" setup>
import EmployeeDialog from "./EmployeeDialog.vue";
import EmployeeList from "./EmployeeList.vue";
import LoadingDialog from "@/components/LoadingDialog.vue";
</script>
<template>
  <h1>การจัดการข้อมูลพนักงาน</h1>
  <EmployeeDialog></EmployeeDialog>
  <EmployeeList></EmployeeList>
  <LoadingDialog></LoadingDialog>
</template>
