<script lang="ts" setup>
import { useEmployeeStore } from "@/stores/employee";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const employeeStore = useEmployeeStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await employeeStore.saveEmployee();
  }
}
</script>

<template>
  <v-dialog v-model="employeeStore.dialog" persistent width="1024"
    ><v-card>
      <v-card-title>
        <span class="text-h5">ข้อมูลพนักงาน</span>
      </v-card-title>
      <!-- <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="ชื่อ"
                  required
                  v-model="employeeStore.editedEmployee.name"
                  :rules="[(v) => !!v || 'กรุณากรอกข้อมูล']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="ที่อยู่"
                  required
                  v-model="employeeStore.editedEmployee.address"
                  :rules="[(v) => !!v || 'กรุณากรอกข้อมูล']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="เบอร์โทรศัพท์"
                  required
                  v-model="employeeStore.editedEmployee.tel"
                  :rules="[
                    (v) => !!v || 'กรุณากรอกข้อมูล',
                    (v) => v.length == 10 || 'เลขเบอร์โทรศัพท์ควรยาว 10 ตัวเลข',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="อีเมล"
                  required
                  v-model="employeeStore.editedEmployee.email"
                  :rules="[
                (v: any) => !!v || 'Name Name is required',
                (v: any) =>
                  v.length >= 4||
                  'Name is not valid',
              ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="ตำแหน่ง"
                  required
                  v-model="employeeStore.editedEmployee.position"
                  :rules="[(v) => !!v || 'กรุณากรอกข้อมูล']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="ค่าจ้างรายชั่วโมง"
                  required
                  v-model.number="employeeStore.editedEmployee.hourly_wage"
                  :rules="[(v) => !!v || 'กรุณากรอกข้อมูล']"
                ></v-text-field>
              </v-col>
            </v-row> </v-container
        ></v-form>
      </v-card-text> -->
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="ชื่อ"
                  required
                  v-model="employeeStore.editedEmployee.name"
                  :rules="[
                    (v) =>
                      /^[a-zA-Z]{3,}$/.test(v) ||
                      'กรุณากรอกชื่อที่มีตัวอักษรอย่างน้อย 3 ตัว',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="ที่อยู่"
                  required
                  v-model="employeeStore.editedEmployee.address"
                  :rules="[
                    (v) =>
                      v.length >= 4 ||
                      'อีเมลจะต้องมีขนาดมากกว่าหรือเท่ากับ 4 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="เบอร์โทรศัพท์"
                  required
                  v-model="employeeStore.editedEmployee.tel"
                  :rules="[
                    (v) => !!v || 'กรุณากรอกข้อมูล',
                    (v) =>
                      /^\d{10}$/.test(v) || 'เลขเบอร์โทรศัพท์ควรยาว 10 ตัวเลข',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="อีเมล"
                  required
                  v-model="employeeStore.editedEmployee.email"
                  :rules="[(v) => !!v || 'กรุณากรอกข้อมูล',
                (v: any) =>
                  v.length >= 4||
                  'อีเมลไม่ถูกต้อง',
              ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="ตำแหน่ง"
                  required
                  v-model="employeeStore.editedEmployee.position"
                  :rules="[
                    (v) =>
                      /^[a-zA-Zก-ฮเ-๙\s]*$/.test(v) ||
                      'กรุณากรอกตัวอักษรเท่านั้น',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="ค่าจ้างรายชั่วโมง"
                  required
                  v-model.number="employeeStore.editedEmployee.hourly_wage"
                  :rules="[(v) => v >= 0 || 'กรุณากรอกตัวเลขไม่ติดลบ']"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="employeeStore.dialog = false"
        >
          ปิด
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save">
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card></v-dialog
  >
</template>
