<script lang="ts" setup>
import { useCheckin_outStore } from "@/stores/checkin_out";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const checkin_outStore = useCheckin_outStore();

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await checkin_outStore.saveCheckin_out();
  }
}
</script>

<template>
  <v-dialog v-model="checkin_outStore.dialog" persistent width="1024"
    ><v-card>
      <v-card-title>
        <span class="text-h5">ลงเวลาเข้า-ออก</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="วัน/เดือน/ปี"
                  type="date"
                  required
                  v-model="checkin_outStore.editedCheckin_out.date"
                  :rules="[(v) => !!v || 'กรุณากรอกข้อมูล']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="เข้างาน"
                  type="time"
                  required
                  v-model="checkin_outStore.editedCheckin_out.time_in"
                  :rules="[(v) => !!v || 'กรุณากรอกข้อมูล']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="ออกงาน"
                  type="time"
                  required
                  v-model="checkin_outStore.editedCheckin_out.time_out"
                  :rules="[(v) => !!v || 'กรุณากรอกข้อมูล']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="ชั่วโมงทั้งหมด"
                  required
                  v-model="checkin_outStore.editedCheckin_out.total_hour"
                  :rules="[(v) => !!v || 'กรุณากรอกข้อมูล']"
                ></v-text-field>
              </v-col>
            </v-row> </v-container
        ></v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="checkin_outStore.dialog = false"
        >
          ปิด
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save">
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card></v-dialog
  >
</template>
