<script lang="ts" setup>
import Checkin_outDialog from "./Checkin_outDialog.vue";
import Checkin_outList from "./Checkin_outList.vue";
// import TestShowDataDialog from "./TestShowDataDialog.vue";
</script>
<template>
  <Checkin_outDialog></Checkin_outDialog>
  <!-- <TestShowDataDialog></TestShowDataDialog> -->
  <Checkin_outList></Checkin_outList>
</template>
