<script setup lang="ts">
import { useCheckin_outStore } from "@/stores/checkin_out";
import { onMounted, ref } from "vue";
import { mdiDelete, mdiPencil, mdiAlarmCheck } from "@mdi/js";
import LoadingDialog from "@/components/LoadingDialog.vue";
const checkin_outStore = useCheckin_outStore();
const checkin_outs = ref([]);

onMounted(async () => {
  await checkin_outStore.getCheckin_outs();
  const response = await fetch("/api/checkin-out");
  const data = await response.json();
  checkin_outs.value = data;
  console.log("Checkin_out data:", checkin_outs.value);
});
</script>
<template>
  <LoadingDialog></LoadingDialog>
  <h1>ลงเวลาเข้า-ออกพนักงาน</h1>
  <v-container>
    <v-row>
      <v-col>
        <v-btn
          color="primary"
          :prepend-icon="mdiAlarmCheck"
          @click="checkin_outStore.dialog = true"
        >
          ลงเวลาเข้า-ออก
        </v-btn>
      </v-col>
      <!-- <v-col>
        <v-btn
          color="secondary"
          :prepend-icon="mdiAlarmCheck"
          @click="checkInOut2.dialogCheckInOut = true"
        >
          Test
        </v-btn>
      </v-col> -->
    </v-row>

    <v-col cols="12">
      <v-table>
        <thead>
          <tr>
            <th>วันที่</th>
            <th>เวลาเข้างาน</th>
            <th>เวลาออกงาน</th>
            <th>ชั่วโมงทั้งหมด</th>
            <th>การดำเนินการ</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in checkin_outStore.checkin_outs" :key="item.id">
            <td>{{ item.date }}</td>
            <td>{{ item.time_in }}</td>
            <td>{{ item.time_out }}</td>
            <td>{{ item.total_hour }}</td>
            <td>
              <v-btn
                :icon="mdiPencil"
                color="secondary"
                class="ma-1"
                @click="checkin_outStore.editCheckin_out(item)"
              ></v-btn
              ><v-btn
                :icon="mdiDelete"
                color="error"
                class="ma-1"
                @click="checkin_outStore.daleteCheckin_out(item.id!)"
              ></v-btn>
            </td>
          </tr>
        </tbody> </v-table
    ></v-col>
  </v-container>
</template>

<style scoped>
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
}

th {
  background-color: #faedcb;
}

tr:nth-child(even) {
  background-color: #e8dcbc;
}
tr:nth-child(odd) {
  background-color: #f3e7c7;
}
</style>
