<script lang="ts" setup>
import { useCheckInOut2 } from "@/stores/chechInOut2";
const checkin_outStore = useCheckInOut2();
</script>

<template>
  <v-dialog v-model="checkin_outStore.dialogCheckInOut" persistent width="1024"
    ><v-card>
      <v-card-title>
        <span class="text-h5">ลงเวลาเข้าออกงาน</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-table>
            <tr>
              <td class="px-3">
                <v-text-field label="username" id="id"></v-text-field>
              </td>
              <td class="px-3">
                <v-text-field label="password" id="id"></v-text-field>
              </td>
            </tr>
          </v-table>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="checkin_outStore.dialogCheckInOut = false"
        >
          Close
        </v-btn>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="checkin_outStore.dialogCheckInOut = false"
        >
          ลงเวลา
        </v-btn>
      </v-card-actions>
    </v-card></v-dialog
  >
</template>
