<script lang="ts">
import BarChart from "@/components/bar/BarChart.vue";
import HorizontalBar from "@/components/bar/horizonalBar.vue";

export default {
  components: {
    BarChart,
    HorizontalBar,
  },
};
</script>

<template>
  <div><BarChart /></div>
  <div><HorizontalBar></HorizontalBar></div>
</template>
