<template>
  <bar-chart :data="gMonthly" :options="options"></bar-chart>
</template>
<script>
import { Bar } from "vue-chartjs";
import {
  Chart,
  CategoryScale,
  LinearScale,
  BarElement,
  Title,
  Tooltip,
  Legend,
} from "chart.js";
import { ref } from "vue";
Chart.register(CategoryScale, LinearScale, BarElement, Title, Tooltip, Legend);

export default {
  components: {
    BarChart: Bar,
  },
  setup() {
    const gMonthly = ref({
      labels: [
        "ม.ค.",
        "ก.พ.",
        "มี.ค.",
        "เม.ย",
        "พ.ค.",
        "มิ.ค.",
        "ก.ค.",
        "สิ.ค.",
        "ก.ย.",
        "ตุ.ค.",
        "พ.ย.",
        "ธ.ค.",
      ],
      datasets: [
        {
          label: "พนักงาน 1",
          backgroundColor: "#c19277",
          data: [100, 20, 12, 39, 10, 40, 39, 80, 40, 20, 12, 11], // ข้อมูลของพนักงาน 1
        },
        {
          label: "พนักงาน 2",
          backgroundColor: "#7d74ad",
          data: [50, 30, 15, 25, 20, 35, 29, 70, 50, 30, 10, 9], // ข้อมูลของพนักงาน 2
        },
        {
          label: "พนักงาน 3",
          backgroundColor: "#62928d",
          data: [70, 18, 25, 35, 15, 45, 35, 60, 35, 15, 20, 12], // ข้อมูลของพนักงาน 3
        },
      ],
    });

    const options = ref({
      responsive: true,
      maintainAspectRatio: false,
    });

    return {
      gMonthly,
      options,
    };
  },
};
</script>
