<template>
  <horizontal-bar :data="gMonthly" :options="options"></horizontal-bar>
</template>
<script>
import { Bar } from "vue-chartjs";
import {
  Chart,
  CategoryScale,
  LinearScale,
  BarElement,
  Title,
  Tooltip,
  Legend,
} from "chart.js";
import { ref } from "vue";
Chart.register(CategoryScale, LinearScale, BarElement, Title, Tooltip, Legend);

export default {
  components: {
    HorizontalBar: Bar, // เปลี่ยนชื่อ component ใหม่เป็น HorizontalBar
  },
  setup() {
    const gMonthly = ref({
      labels: ["สินค้า1", "สินค้า2", "สินค้า3", "สินค้า4", "สินค้า5"],
      datasets: [
        {
          label: "สินค้าขายดีประจำเดือน(ชิ้น)",
          backgroundColor: "#c19277",
          data: [100, 20, 12, 39, 10], // Data
        },
      ],
    });

    const options = ref({
      responsive: true,
      maintainAspectRatio: false,
      indexAxis: "y", // เพิ่มตัวเลือก indexAxis เป็น "y" เพื่อแสดงแผนภูมิแท่งแนวนอน
    });

    return {
      gMonthly,
      options,
    };
  },
};
</script>
