<script setup lang="ts">
import MainView from "./views/MainView.vue";
import LoginView from "./views/LoginView.vue";
import { onMounted } from "vue";

import { useAuthStore } from "@/stores/auth";

const AuthStore = useAuthStore();
onMounted(() => {
  AuthStore.isLogin();
});
</script>

<template>
  <LoginView v-if="!AuthStore.isLogin()" />
  <MainView
    v-if="AuthStore.isLogin()"
    @logout="AuthStore.logout"
    :login-name="AuthStore.login"
  />
</template>
