<script lang="ts" setup>
import MaterialDialog from "./MaterialDialog.vue";
import MaterialList from "./MaterialList.vue";
import LoadingDialog from "@/components/LoadingDialog.vue";
</script>
<template>
  <h1>จัดการข้อมูลวัสดุสินค้า</h1>
  <MaterialDialog></MaterialDialog>
  <MaterialList></MaterialList>
  <LoadingDialog></LoadingDialog>
</template>
