<script setup lang="ts">
import { mdiDelete, mdiPencil, mdiPlus } from "@mdi/js";
import { useMaterialStore } from "@/stores/material";
import { onMounted, ref } from "vue";
import LoadingDialog from "@/components/LoadingDialog.vue";

const materialStore = useMaterialStore();
const materials = ref([]);
const lowmaterials = ref(0);

onMounted(async () => {
  await materialStore.getMaterials();
  const response = await fetch("/api/materials");
  const data = await response.json();
  materials.value = data;
});

function checkLowMaterials() {
  lowmaterials.value = materialStore.countMaterialsUnderMinimum(
    materials.value
  );
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col offset="4">
        <v-card class="pa-1" elevation="1" style="width: 235px">
          <v-card-title class="headline">จำนวนสินค้าเหลือน้อย</v-card-title>
          <v-card-text>{{ materialStore.lowmaterialcount }}</v-card-text>
        </v-card>
      </v-col>

      <v-col>
        <v-btn
          color="green"
          :prepend-icon="mdiPlus"
          @click="materialStore.dialog = true"
        >
          เพิ่มข้อมูลวัสดุสินค้า
        </v-btn>
      </v-col>
      <v-col
        ><v-btn
          color="green"
          @click="
            materialStore.countMaterialsUnderMinimum(materialStore.materials)
          "
          >เช็คจำนวนสินค้าเหลือน้อย</v-btn
        ></v-col
      >
    </v-row>
    <v-row
      ><v-col cols="12">
        <v-table style="border-radius: 10px">
          <thead>
            <tr>
              <th>ID</th>
              <th>ชื่อ</th>
              <th>ปริมาณขั้นต่ำ</th>
              <th>ปริมาณ</th>
              <th>หน่วย</th>
              <th>ราคาต่อหน่วย</th>
              <th>การดำเนินการ</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in materialStore.materials" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.min_quantity }}</td>
              <td :class="{ 'text-danger': item.quantity < item.min_quantity }">
                {{ item.quantity }}
              </td>
              <td>{{ item.unit }}</td>
              <td>{{ item.price_per_unit }}</td>
              <td>
                <!-- <v-btn
                  :icon="mdiPencil"
                  color="secondary"
                  class="ma-1"
                  @click="materialStore.editMaterial(item)"
                ></v-btn> -->

                <v-btn
                  rounded
                  color="secondary"
                  class="ma-1"
                  @click="materialStore.editMaterial(item)"
                  large
                >
                  แก้ไข
                </v-btn>
                <v-btn
                  rounded
                  color="error"
                  class="ma-1"
                  @click="materialStore.daleteMaterial(item.id!)"
                  large
                >
                  ลบ
                </v-btn>
                <!-- <v-btn
                  :icon="mdiDelete"
                  color="error"
                  class="ma-1"
                  @click="materialStore.daleteMaterial(item.id!)"
                ></v-btn> -->
              </td>
            </tr>
          </tbody>
        </v-table></v-col
      ></v-row
    >
  </v-container>
  <LoadingDialog></LoadingDialog>
</template>

<style scoped>
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
}

th {
  background-color: #faedcb;
}

tr:nth-child(even) {
  background-color: #e8dcbc;
}
tr:nth-child(odd) {
  background-color: #f3e7c7;
}

.text-danger {
  color: red;
}
</style>
