<script lang="ts" setup>
import { useMaterialStore } from "@/stores/material";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const materialStore = useMaterialStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await materialStore.saveMaterial();
  }
}
</script>
<template>
  <v-dialog v-model="materialStore.dialog" persistent width="1024"
    ><v-card>
      <v-card-title>
        <span class="text-h5">ข้อมูลวัสดุสินค้า</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="ชื่อ"
                  required
                  v-model="materialStore.editedMaterial.name"
                  :rules="[
                    (v) => !!v || 'กรุณากรอกข้อมูล',
                    (v) =>
                      (v && v.length >= 3) || 'ชื่อต้องมีอย่างน้อย 3 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="ปริมาณขั้นต่ำ"
                  required
                  v-model.number="materialStore.editedMaterial.min_quantity"
                  :rules="[
                    (v) => !!v || 'กรุณากรอกข้อมูล',
                    (v) =>
                      (!isNaN(v) && v >= 0) ||
                      'ปริมาณขั้นต่ำต้องเป็นตัวเลขไม่ติดลบ',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="ปริมาณ"
                  required
                  v-model.number="materialStore.editedMaterial.quantity"
                  :rules="[
                    (v) => !!v || 'กรุณากรอกข้อมูล',
                    (v) =>
                      (!isNaN(v) && v >= 0) || 'ปริมาณต้องเป็นตัวเลขไม่ติดลบ',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="หน่วย"
                  required
                  v-model="materialStore.editedMaterial.unit"
                  :rules="[
                    (v) => !!v || 'กรุณากรอกข้อมูล',
                    (v) =>
                      (v && v.length >= 3) || 'หน่วยต้องมีอย่างน้อย 3 ตัวอักษร',
                    (v) => isNaN(v) || 'หน่วยต้องเป็นตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="ราคาต่อหน่วย"
                  required
                  v-model.number="materialStore.editedMaterial.price_per_unit"
                  :rules="[
                    (v) => !!v || 'กรุณากรอกข้อมูล',
                    (v) =>
                      /^\d+(\.\d+)?$/.test(v) || 'ปริมาณต้องเป็นตัวเลขไม่ติดลบ',
                  ]"
                ></v-text-field>
              </v-col>
            </v-row> </v-container
        ></v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="materialStore.dialog = false"
        >
          ปิด
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save">
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card></v-dialog
  >
</template>
