<script lang="ts" setup>
import { useCategoryStore } from "@/stores/category";
import { useProductStore } from "@/stores/product";
import { onMounted, ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const categoryStore = useCategoryStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    try {
      await categoryStore.saveCategory();
    } catch (error) {
      console.error(error);
    }
  }
}
onMounted(async () => {
  await categoryStore.getCategories();
});
</script>

<template>
  <v-dialog v-model="categoryStore.dialog" persistent width="1024">
    <v-card color="white">
      <v-card-title class="text-center">
        <span class="text-h4">เพิ่มประเภทสินค้า</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  bg-color="white"
                  label="ชื่อประเภทสินค้า*"
                  required
                  v-model="categoryStore.editedCategory.name"
                  :rules="[
                    (v) => !!v || 'กรุณากรอกข้อมูล',
                    (v) => v.length >= 3 || 'ชื่อต้องไม่น้อยกว่า 3 ตัว',
                    (v) => isNaN(v) || 'ห้ามใส่ตัวเลข',
                  ]"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="white"
          variant="elevated"
          @click="categoryStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn color="white" variant="elevated" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
