<template>
  <h1>ประวัติการขายสินค้า</h1>
  <v-container>
    <br />

    <v-row>
      <v-col cols="12">
        <v-table style="border-radius: 10px">
          <thead>
            <tr>
              <th>ID</th>
              <th>ชื่อสินค้า</th>
              <th>วันที่และเวลาที่ขาย</th>
              <th>จำนวนทั้งหมด</th>
              <th>ราคารวม</th>
              <th>วิธีการชำระเงิน</th>
              <th>เบอร์โทร</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of orderStore.orders" :key="item.id">
              <td>{{ item.id }}</td>
              <td>
                <ul>
                  <li
                    v-for="(orderItem, index) in item.orderItems"
                    :key="index"
                  >
                    {{ orderItem.name }} (จำนวน: {{ orderItem.amount }})
                  </li>
                </ul>
              </td>
              <td>{{ formatDate(item.order_date_time) }}</td>
              <td>{{ item.amount }}</td>
              <td>{{ item.total }}</td>
              <td>{{ item.payment }}</td>
              <td>{{ item.tel }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import { useProductStore } from "@/stores/product";
import { useAuthStore } from "@/stores/auth";
import { onMounted } from "vue";
import { useOrderStore } from "@/stores/order";
import { useCustomerStore } from "@/stores/customer";
import { useUserStore } from "@/stores/user";
import LoadingDialog from "@/components/LoadingDialog.vue";
const productStore = useProductStore();
const orderStore = useOrderStore();
const customerStore = useCustomerStore();
const authStore = useAuthStore();
const userStore = useUserStore();

// ฟังก์ชัน formatDate เพื่อแปลงรูปแบบวันเวลา
function formatDate(dateTime: string) {
  return new Date(dateTime).toLocaleString("th-TH", {
    year: "numeric",
    month: "long",
    day: "numeric",
    hour: "numeric",
    minute: "numeric",
    second: "numeric",
  });
}

onMounted(async () => {
  await orderStore.getOrders();
  await productStore.getProducts();
  await customerStore.getCustomers();
});
</script>

<style scoped>
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
}

th {
  background-color: #faedcb;
}

tr:nth-child(even) {
  background-color: #e8dcbc;
}
tr:nth-child(odd) {
  background-color: #f3e7c7;
}
</style>
