<script lang="ts" setup>
import { useCategoryStore } from "@/stores/category";
import { useProductStore } from "@/stores/product";
import { onMounted, ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const productStore = useProductStore();
const categoryStore = useCategoryStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await productStore.saveProduct();
  }
}
onMounted(async () => {
  await categoryStore.getCategories();
});
</script>
<template>
  <v-dialog v-model="productStore.dialog" persistent width="1024">
    <v-card color="white">
      <v-card-title class="text-center">
        <span class="text-h4">ข้อมูลสินค้า</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  bg-color="white"
                  label="ชื่อ"
                  required
                  v-model="productStore.editedProduct.name"
                  :rules="[(v) => !!v || 'กรุณากรอกข้อมูล']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  bg-color="white"
                  label="ประเภท"
                  required
                  v-model="productStore.editedProduct.type"
                  :rules="[
                    (v) => !!v || 'กรุณากรอกข้อมูล',
                    (v) => !/\d/.test(v) || 'กรุณากรอกเป็นตัวอักษรเท่านั้น',
                    (v) =>
                      /^[^\d]+$/.test(v) || 'กรุณากรอกเป็นตัวอักษรเท่านั้น',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  bg-color="white"
                  label="ขนาด"
                  required
                  v-model="productStore.editedProduct.size"
                  :rules="[
                    (v) => !!v || 'กรุณากรอกข้อมูล',
                    (v) => !/\d/.test(v) || 'กรุณากรอกเป็นตัวอักษรเท่านั้น',
                    (v) =>
                      /^[^\d]+$/.test(v) || 'กรุณากรอกเป็นตัวอักษรเท่านั้น',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  bg-color="white"
                  label="ราคา"
                  required
                  v-model.number="productStore.editedProduct.price"
                  :rules="[
                    (v) => !!v || 'กรุณากรอกข้อมูล',
                    (v) =>
                      v >= 0 || 'กรุณากรอกเป็นค่าที่ไม่ติดลบและไม่เป็นตัวอักษร',
                    (v) =>
                      (!isNaN(parseFloat(v)) && isFinite(v)) ||
                      'ห้ามใส่ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-select
                  v-model="productStore.editedProduct.catagoryId"
                  :items="categoryStore.categories"
                  item-title="name"
                  item-value="id"
                  label="Select"
                  persistent-hint
                  single-line
                ></v-select>
              </v-col>
              <v-col col="12"
                ><v-file-input
                  v-model="productStore.editedProduct.files"
                  accept="image/*"
                  label="อัพโหลดรูปภาพ"
                ></v-file-input
              ></v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="white"
          variant="elevated"
          @click="productStore.dialog = false"
        >
          ปิด
        </v-btn>
        <v-btn color="white" variant="elevated" @click="save"> บันทึก </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
