<script setup lang="ts">
import { mdiDelete, mdiPencil, mdiPlus } from "@mdi/js";
import { useProductStore } from "@/stores/product";
import { useCategoryStore } from "@/stores/category";
import { onMounted } from "vue";

const productStore = useProductStore();
const categoryStore = useCategoryStore();
const BackendURL = import.meta.env.VITE_BACKEND_URL;

onMounted(async () => {
  await categoryStore.getCategories();
  // await productStore.getProducts();
  await productStore.getProductsByCategory(productStore.category);
});

const deleteProduct = async (id: number) => {
  await productStore.deleteProduct(id);
  /* empty */
};
</script>
<template>
  <v-container>
    <v-row
      ><v-col cols="6" offset="7">
        <v-row>
          <v-col offset="1">
            <v-btn
              class="mx-4"
              color="green"
              :prepend-icon="mdiPlus"
              @click="productStore.dialog = true"
            >
              เพิ่มสินค้า
            </v-btn>
            <v-btn
              class="ml-4"
              color="green"
              :prepend-icon="mdiPlus"
              @click="categoryStore.dialog = true"
            >
              เพิ่มประเภทสินค้า
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <br />
    <v-tabs
      v-model="productStore.category"
      bg-color="#faedcb"
      style="border-radius: 10px 10px 0 0"
    >
      <v-tab
        v-for="item of categoryStore.categories"
        :value="item.id"
        :key="item.id"
        >{{ item.name }}
      </v-tab>
    </v-tabs>
    <v-row
      ><v-col cols="12">
        <v-table style="border-radius: 10px">
          <thead>
            <tr>
              <th>ID</th>
              <th>รูปภาพ</th>
              <th>ชื่อ</th>
              <th>ประเภท</th>
              <th>ราคา</th>
              <th>การดำเนินการ</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of productStore.products" :key="item.id">
              <td>{{ item.id }}</td>
              <td>
                <v-img
                  :src="`${BackendURL}/products/image/${item.image}`"
                  height="100px"
                  width="100px"
                  class="rounded-circle"
                ></v-img>
              </td>
              <td>{{ item.name }}</td>
              <td>{{ item.type }}</td>
              <td>{{ item.price }}</td>

              <td>
                <v-btn
                  rounded
                  color="secondary"
                  class="ma-1"
                  @click="productStore.editProduct(item)"
                  large
                >
                  แก้ไข
                </v-btn>
                <v-btn
                  rounded
                  color="error"
                  class="ma-1"
                  @click="productStore.deleteProduct(item.id)"
                  large
                >
                  ลบ
                </v-btn>
              </td>
            </tr>
          </tbody>
        </v-table></v-col
      ></v-row
    >
  </v-container>
</template>

<style scoped>
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
}

th {
  background-color: #faedcb;
}

tr:nth-child(even) {
  background-color: #e8dcbc;
}
tr:nth-child(odd) {
  background-color: #f3e7c7;
}
</style>
