<script lang="ts" setup>
import CategoryDialog from "./CategoryDialog.vue";
import ProductDialog from "./ProductDialog.vue";
import ProductList from "./ProductList.vue";
import LoadingDialog from "@/components/LoadingDialog.vue";
</script>
<template>
  <h1>การจัดการข้อมูลสินค้า</h1>
  <ProductDialog></ProductDialog>
  <ProductList></ProductList>
  <CategoryDialog></CategoryDialog>
  <LoadingDialog></LoadingDialog>
</template>
