<script setup lang="ts">
import { useLoadingStore } from "@/stores/loading";
const loadingStore = useLoadingStore();
</script>

<template>
  <div class="text-center">
    <v-dialog v-model="loadingStore.isLoading" persistent width="auto">
      <VProgressCircular
        :size="50"
        color="primary"
        indeterminate
      ></VProgressCircular>
    </v-dialog>
  </div>
</template>
